<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/show.css">

<div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container col-12 col-lg-8">
            <a class="navbar-brand" href="/">MULocDeep</a>
            <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload"><i class="fas fa-upload"></i> Upload </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
                onclick="javascript:startIntro();">HELP</button>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
            <p class="lead d-none d-sm-block">A protein locator based on deep learning predicting</p>
        </div>
    </div>

    <div class="container col-12 col-lg-8 ">
        <div class="btn-toolbar d-flex justify-content-start" role="toolbar" aria-label="Toolbar with button group">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <% var address = "/jobs/download/:" + jobId%>
                <a class="btn btn-secondary" href="<%= address%>" id="downloadBtn">
                    Download Result
                </a>
            </div>

            <div class="btn-group mt-4 mt-sm-0" role="group" aria-label="Second group" id="picker">
                <select class="selectpicker show-tick" multiple data-actions-box="true" data-size="5"
                    data-style="btn-primary" data-width="300px" data-live-search="true"
                    title="Choose one of the following...">
                    <% for (var i = 0; i < names.length; i++) {%>
                    <option value="<%= i%>"> <%= names[i]%></option>
                    <% } %>
                </select>
            </div>
        </div>
    </div>

    <div id="mainContainer" class="container border rounded shadow-lg mt-4 pt-3 mx-auto col-12 col-lg-8 "></div>

    <div id="box" class="box">
        <div class="box-in"></div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="barList" class="list-group"></div>
    </div>
    <div id="sidebarBtn" class="sidebarBtn" onclick="toggleNav()">
        <div class="barBtn-in"></div>
    </div>

    <script>
        // ++++++++++++++++++++++++++++++++++
        // ++++++++++++++++++++++++++++++++++
        // Analysis MULocDeep results' data
        // ++++++++++++++++++++++++++++++++++
        // ++++++++++++++++++++++++++++++++++

        var weights = JSON.parse('<%- JSON.stringify(weights) %>');
        // console.log(weights.length);
        var names = JSON.parse('<%- JSON.stringify(names) %>');
        // console.log(names);
        var seq = JSON.parse('<%- JSON.stringify(seq) %>');
        // console.log(seq.length);
        var cellular = JSON.parse('<%- JSON.stringify(cellular) %>');
        // console.log(cellular);
        var organellar = JSON.parse('<%- JSON.stringify(organellar) %>');
        // console.log(organellar);
    </script>

    <script type="text/javascript" src="/js/show.js"></script>
    <script type="text/javascript" src="/lib/canvasjs.min.js"></script>



    <% include partials/footer%>